<li class="comment-<%=comment._id%>">
  <p>
    <% if(locals.user && locals.user.id==comment.user.id) { %>
    <small>
      <a href="/comments/destroy/<%=comment.id%>" class="delete-comment-button"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>
    <br />
    <%= comment.user.name %>
  </p>
  <% if(locals.user) {%>
  <p>
    <a
      class="toggle-button-comment"
      href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      count-likes="<%=comment.likes.length%>">
      <%=comment.likes.length%> Like
    </a>
  </p>
  <%} else {%>
  <p><%=comment.likes.length%> Like</p>
  <%}%>
</li>
