<link rel="stylesheet" href="/css/user_profile.css" />

<img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px" height="100px" />

<p>Name - <%=profile_user.name%></p>
<p>E-mail - <%=profile_user.email%></p>

<% if(user.id==profile_user.id) { %>
<form
  action="/users/update/<%=profile_user.id%>"
  enctype="multipart/form-data"
  method="POST">
  <input
    type="text"
    name="name"
    placeholder="Enter your name"
    value="<%=profile_user.name%>"
    required />
  <input
    type="email"
    name="email"
    placeholder="Enter your E-mail"
    value="<%=profile_user.email%>"
    required />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="update" />
</form>
<% } else {%>
<p>
  <a
    href="/friends/toggle/?source=<%=user._id%>&destination=<%=profile_user.id%>"
    class="toggle-friend-button"
    ><%=displayText%></a
  >
</p>
<script src="/js/profile.js"></script>
<% } %>
